.btn-highlight {
    color: #fff;
    font-weight: bold;
    background: #02aab0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #02aab0, #00cdac);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #02aab0, #00cdac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &:hover, &:active {
        color: #fff;
        background: #00cdac;  /* fallback for old browsers */
        background: -webkit-linear-gradient(135deg, #00cdac, #02aab0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(135deg, #00cdac, #02aab0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}