footer {

    .footer-main {
        color: #777;
        border-bottom: 1px solid #F0F0F0;
        padding: 5em 0;
    }

    .footer-built-with {
        color: #C0C0C0;
        border-bottom: 1px solid #F0F0F0;
        padding: 5em 0;
        text-align: center;
        span {
            display: block;
            margin-bottom: .5em;
            font-family: 'Crimson Text';
        }
    }

    .footer-copywrite {
        color: #C0C0C0;
        padding: 3em 0;
        font-size: .9em;
        font-family: 'Crimson Text';

        a {
            color: rgb(160, 202, 202);
            &:link, &:visited {
                color: rgb(160, 202, 202);
            }
            
            &:focus, &:hover, &:active {
                color: rgb(160, 202, 202);
            }
        }
    }
}