div.loding-bar-top {
    height: 5px;
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
}

.navbar {
    color: $color-base-font;
    background-color: #ffffff;
    border-bottom: 1px solid $color-divider-color;

    .navbar-brand {
        .title {
            color: $color-base-font;
            display: block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;
        }
        .tagline {
            color: $color-base-font;
            display: block;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar {
        #responsive-navbar-nav {
            .nav-main-menu {
                padding: 4rem 0 2rem;
                text-align: center;
                font-size: 2rem;
                line-height: 2.5rem;
                font-family: 'Crimson Text';
                font-weight: 600;

            }

            .smallview-nav-contact {
                padding: 2rem 0;
                text-align: center;
            }
            
        }
    }
}