.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #F0F0F0;

    .navbar-brand {
        .title {
            display: block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;
        }
        .tagline {
            display: block;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}