footer {
    .footer-built-with {
        color: #777;
        border-top: 1px solid #e1e1e1;
        padding: 5em 0;
        text-align: center;
    }

    .footer-copy {
        padding: 5em 0;
        font-size: .75em;
        color: #777;
        border-top: 1px solid #e1e1e1;
    }
}