form {
    .form-control {
        border-color: $color-divider-color;
    }

    &.contact-forms {
        @include gradient-background-fill;
        padding: 2em;
        font-weight: 400;
        border-radius: 0.3rem;

        .text-muted {
            color: #bedadb !important;
        }
    }
}