div.page-end {
    padding: 5em 0;
    display: block;

    &.footer-divider {
        border-bottom: 1px solid #F0F0F0;
    }
}

section.full-banner {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0;
    background: #fff;
    font-weight: 400;
    color: #333333;
    padding: 0 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

div.page-intro {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    
    .title {
        font-family: 'Crimson Text';
        font-weight: 600;
    }
    .lead {

    }
}