@mixin gradient-text-fill {
    /* fallback for old browsers */
    color: $color-highlight-primary;
    background-image: linear-gradient(135deg, $color-highlight-primary, $color-highlight-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-background-fill {
    color: $color-highlight-font;
    /* fallback for old browsers */
    background: $color-highlight-primary;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(135deg, $color-highlight-primary, $color-highlight-secondary);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(135deg, $color-highlight-primary, $color-highlight-secondary);
}

