span, strong, p, span, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    &.highlight {
        background-image: linear-gradient(135deg, #02aab0, #00cdac);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

div.highlight {
    color: #fff;
    background: #02aab0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #02aab0, #00cdac);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #02aab0, #00cdac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}