body {
    font-family: 'Open-Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: $color-base-font;
}

a, button, input:focus, input[type="button"], input[type="reset"], input[type="submit"], textarea:focus, .button {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

a {
    color: $color-a-link-color;
    &:link {
        color: $color-a-link-color;
    }
    
    &:visited {
        color: $color-a-visited-color;
    }
    
    &:focus, &:hover, &:active {
        color: $color-a-active-color;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text';
    font-weight: 600;
}

span, strong, p, span, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    &.highlight {
        @include gradient-text-fill;
    }
}

div.highlight {
    @include gradient-background-fill;

}

hr {
    border-top: 1px solid $color-divider-color;
}