body {    
    color: #272341;
}

a {
    color: #02aab0;
    &:link {
        color: #02aab0;
    }
    
    &:visited {
        color: #007a7e;
    }
    
    &:focus, &:hover, &:active {
        color: #00cdac;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    .page-header, &.page-header {
        margin-top: 1.5rem;
    }
}